node_modules
dist
.output
.nuxt
.data
coverage
*.log
.DS_Store
.vite
.vite-plus
packages/ui/web-types.json
packages/ui/e2e/__screenshots__/**/*-actual.png
packages/ui/e2e/__screenshots__/**/*-diff.png
**/bench/results/
.vitest-attachments
